.ember-image-slider .horizontal-grid {
	display: flex;
	flex-flow: row nowrap;
}

.ember-image-slider .slider-item {
	margin: 10px;
	vertical-align: middle;
	border: 1px dashed grey;
	padding: 20px;
	cursor: pointer;
	transform: scale(1);
	transition: 0.3s transform;
	
	/*flex:1;*/
}

.ember-image-slider .slider-item.picked {
	background: grey;
	/*transform: scale(1.1);*/
}

.ember-image-slider .slider-item.picked img {
	transform: scale(1.1);
}

.grid-wrap {
	width: 100%;
	overflow-x: auto;
}

.ember-image-slider .slider-item img {
	/*max-width: 100%;*/
	transition: 0.3s transform;
	transform: scale(1);
	

}